.main {
  display: flex;
  flex-direction: row;
  padding-top: 6em;
}

.info-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.img-perfil {
  width: 70%;
}

.profile-picture {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.github {
  width: 64px;
  height: 64px;
}

.linkedin {
  width: 64px;
  height: 64px;
}

.icon-linkedin {
  width: 64px;
  height: 64px;
}

.icon-github {
  width: 64px;
  height: 64px;
}


.dowload-cv {
  padding: 10px 20px;
  background-color: #104f55;
  border: none;
  border-radius: 20px;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
  color: white;
}

.dowload-cv:hover {
  background-color: #32746d;
  box-shadow: none;
  
}

.social-network {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 2em;
}

.container-btn-download {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

h1, h2 {
  margin-block-end: 0;
}