.conctact-headings {
    font-size: 1.5em;
    width: 100vw;
    padding: 3em
}

.container-contact {
    padding: 3em;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.img-form {
    width: 640px;
    height: 400px;
    bottom: 0;
    float: left;
}

.form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
}

.form input {
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: grey 1px solid;
    color:#fff;
}

.form textarea {
    height: 150px;
    background: none;
    color: black;
    padding: 1.5em;
    border: grey 1px solid;
}


.contact-form {
    border: grey 1px solid;
}

.contact-form h4 {
    font-size: 2em;
    display: flex;
    justify-content: center;
}


.btn-submit {
    padding: 10px 20px;
    margin: 1em;
    border: none;
    text-transform: uppercase;
    background-color: #104f55;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
}

.btn-submit:hover {
    background-color: #32746d;
    box-shadow: none;
}