.contact-section {
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    padding-bottom: 2em;
}

.contact-headings {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.container-contact {
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

.container-img-form {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.img-form {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

.btn-submit {
    padding: 10px 20px;
    background-color: #104f55;
    border: none;
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
    color: white;
}

.btn-submit:hover {
    background-color: #32746d;
    box-shadow: none;
  }